#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  flex-grow: 1;
}

.secretWord {
  font-family: monospace;
}

.spoiler {
  color: black;
  background-color: black;
}

#wordInput {
  font-size: 125%;
  padding: 6px;
  text-align: center;
  font-variant: small-caps;
}

#controls {
  /* display: flex; */
  /* align-items: center; */
  /* column-gap: 1em; */
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1em;
}
