:root {
  background-color: unset !important;
}

div#controls {
  margin-bottom: unset;
}

.bigCommand {
  font-size: x-large;
  color: cyan;
  padding: 0.5rem;
  margin: 0.5rem;
  width: fit-content;
  display: inline-block;
  border-style: outset;
  background-color: rgba(127, 127, 127, 0.8);
}

.innerBigCommand {
  text-decoration: underline dotted;
  color: white;
  font-size: 150%;
}

.upperLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.upperRight {
  position: absolute;
  top: 0;
  right: 0;
}
